@use "master" as var;

body {
  font-family: "Nunito Sans" !important;
  letter-spacing: 1px !important;
  margin: 0;
}

#root {
  background-color: var.$dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 90%;
  width: 1200px;
  min-height: 50vh;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.--react--toast-alert {
  box-shadow: unset !important;
  border: 1px solid var.$dark;
}
